html {
    font-family: sans-serif;
    color: white;
}

/* Styling for index.html */
.Index {
    background: url("../Images/Backgrounds/pythonbluebg.png");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.Index > body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    transition: .1s ease-in;
}

.Index > body > header div {
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    height: 2px;
    margin: 0px 100px;
    text-align: center;
}

.Index > body > header figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Index > body > header > figure > a > img {   
    width: 300px;
    border: 5px solid rgb(69, 69, 69);
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    transition: .2s ease-in;   
}

.Index > body > header > figure > a > img:hover {   
    transform: scale(1.05);
    border-color: rgb(53, 121, 255);
    transition: .2s ease-in;  
}

.Index > body > header h1 {
    text-align: center;
    background-color: rgb(255, 217, 0);
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.Index > body > #Login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    margin: 0px 30px;
    padding: 40px 100px;
    padding-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border-radius: 20px;
}

.Index > body > #Login-form h2 {
    color: black;
    text-align: center;
    padding: 10px 100px;
    margin: 0px 15px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    transition: .2s ease-in;
}

.Index > body > #Login-form h2:hover {   
    transform: scale(1.05);
    border-color: rgb(53, 121, 255);
    transition: .2s ease-in;  
}

.Index > body > #Login-form > form > .Input-box {
    display: flex;
    margin-bottom: 4px;
    font-size: 110%;
    justify-content: right;
    align-items: center;
}

.Index > body > #Login-form > form > .Input-box input {
    width: 300px;
    font-size: 20px;
    margin-left: 20px;
    border: 1px solid black;
    outline-color: rgb(0, 57, 230);
    background-color: rgba(255,255,255,0.4);
}

.Index > body > #Login-form > form > #submit {
    margin: 20px 0px;
    margin-left: 164px;
    border: 2px solid rgb(255, 217, 0);
    background-color: rgb(69, 69, 69);
    color: white;
    padding: 10px 60px;
    font-size: 15px;
    cursor: pointer;
    transition: .2s ease-in;
}

.Index > body > #Login-form > form > #submit:hover {
    transform: scale(1.15);
    border-color: rgb(255, 255, 255);
    transition: .165s ease-in; 
}

.Index > body > #Login-form > form > #Error { 
    color: red; 
    padding: 2px 5px; 
    background-color: rgba(255, 255, 255, 0.721); 
    text-align: center;
    transition: .165;
}

.Index > body > #Create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.Index > body > #Create-account p {
    color: white;
    margin: 0px 10px;
    margin-bottom: 30px;
    font-size: 115%;
    text-align: center;
}

.Index > body > #Create-account a {
    background-color: rgb(69, 69, 69);
    border: 2px solid rgb(0, 149, 255);
    border-radius: 10px;
    color: white;
    padding: 10px 60px;
    font-size: 15px;
    text-decoration: none;
    transition: .2s ease-in;
}

.Index > body > #Create-account a:hover {
    transform: scale(1.15);
    color: rgb(255, 217, 0);
    background-color: rgb(0, 149, 255);
    border-color: rgb(255, 255, 255);
    transition: .165s ease-in; 
}

@media only screen and (max-width: 1300px) {
    .Index {
        background: url("../Images/Backgrounds/pythonbluebg2.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 970px) {
    .Index {
        background: url("../Images/Backgrounds/pythonbluebg3.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       
    }
    .Index > body > #Login-form { 
        padding-left: 20px;
        padding-right: 20px;
    }
    .Index > body >  #Login-form > form > .Input-box input{
        width: 245px;
    }
}

@media only screen and (max-width: 470px) {
    .Index {
        background: url("../Images/Backgrounds/pythonbluebg4.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       
    }
}

@media only screen and (max-width: 444px) {
    .Index > body > #Login-form h2 {
        padding: 10px 10px;
    }
    .Index > body > #Login-form > form > .Input-box {
        flex-direction: column;
    }
    .Index > body > #Login-form > form > .Input-box label {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .Index > body > #Login-form > form > #submit {
        margin-left: 20px;
        width: 75%;
    }
}

/* Styling for create-account.html */
.Create-account {
    background: url("../Images/Backgrounds/pythonbluebg.png");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.Create-account > body > a {
    position: absolute;
    top: 44px;
    left: 65px;
    text-decoration: none;
    border: 3px solid rgb(69, 69, 69);
    background-color: rgb(103, 103, 103);
    color: white;
    padding: 5px 10px;
    font-size: 210%;
    transition: .165s ease-in;
}

.Create-account > body > a:hover {
    transform: scale(1.15);
    border-color: rgb(255, 255, 255);
    transition: .165s ease-in; 
}

.Create-account > body > h1 {
    color: white;
    text-align: center;
    background-color: rgb(0, 149, 255);
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.Create-account > body > #Create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    margin: 0px 30px;
    padding: 40px 100px;
    padding-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border-radius: 20px;
}

.Create-account > body > #Create-form > form > .Input-box {
    display: flex;
    margin-bottom: 4px;
    font-size: 110%;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 100px;
}

.Create-account > body > #Create-form > form > .Input-box input {
    width: 300px;
    font-size: 20px;
    margin-left: 20px;
    border: 1px solid black;
    outline-color: rgb(0, 57, 230);
    background-color: rgba(255,255,255,0.4);
}

.Create-account > body > #Create-form > form > #Error-messages p {
    position: relative; 
    bottom: 20px; 
    color: red; 
    padding: 2px 5px; 
    background-color: rgba(255, 255, 255, 0.721); 
    text-align: center;
    transition: .165;
}

.Create-account > body > #Create-form > form > #submit {
    margin: 20px 0px;
    margin-left: 70px;
    border: 2px solid rgb(255, 217, 0);
    background-color: rgb(69, 69, 69);
    color: white;
    padding: 10px 60px;
    font-size: 15px;
    cursor: pointer;
    transition: .2s ease-in;
}

.Create-account > body > #Create-form > form > #submit:hover {
    transform: scale(1.15);
    border-color: rgb(255, 255, 255);
    transition: .165s ease-in; 
}

.Create-account > body > #Create-form > form > #submit:active {
    transform: scale(1);
    transition: .165s ease-in; 
}
.Create-account > body > #Create-form > lottie-player {
    position: relative;
    bottom: 20px;
}

.Create-account > body > #More-spacing {
    height: 100px;
    display: none;
}

@media only screen and (max-width: 1300px) {
    .Create-account {
        background: url("../Images/Backgrounds/pythonbluebg2.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 970px) {
    .Create-account {
        background: url("../Images/Backgrounds/pythonbluebg3.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       
    }
}

@media only screen and (max-width: 750px) {
    .Create-account > body > #Create-form > form > .Input-box {
        flex-direction: column;
        margin-left: 180px;
    }
    .Create-account > body > #Create-form > form > .Input-box label {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .Create-account > body > #Create-form > form > .Input-box input {
        width: auto;
    }
    .Create-account > body > #Create-form > form > #submit {
        position: relative;
        left: 13px;
        padding: 10px 20px;
        font-size: 80%;
    }
    .Create-account > body > #Create-form > form > #Error-messages p {
        font-size: smaller;
        left: 115px;
        width: 200px;
    }
    .Create-account > body > #More-spacing {
        display: block;
    } 
}

@media only screen and (max-width: 530px) {
    .Create-account > body > a {
        top: 800px;
        left: 248px;     
    }
}

@media only screen and (max-width: 470px) {
    .Create-account {
        background: url("../Images/Backgrounds/pythonbluebg4.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       
    }
}

/* Styling for main-menu.html */

.Main-Menu {
    background: url("../Images/Backgrounds/pythonnormal.png");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Main-Menu > body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.Main-Menu > body > header #Greeting-left {
    display: flex;
    flex-direction: column;
}

.Main-Menu > body > header #Greeting-left h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 120px;
}

.Main-Menu > body > header #Greeting-left h1 span img {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
    top: 20px;
}

.Main-Menu > body > header #Greeting-left h2 {
    position: relative;
    bottom: 90px;
    margin-bottom: 10px;
    transition: .1s ease-in;
}

.Main-Menu > body > header #Greeting-right {
    display: flex;
    flex-direction: column;
}

.Main-Menu > body > header #Greeting-right button{
    margin-top: 20px;
    margin-right: 20px;
    font-size: x-large;
    cursor: pointer;
}

.Main-Menu > body > header #Greeting-right #change-picture {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 20px;
    width: 80px;
    height: 80px;
    padding: 2px;
    border-radius: 3px;
    position: relative;
    left: 5px;
    transition: .1s ease-in;
}

.Main-Menu > body > header #Greeting-right #change-picture:hover {
    background-color: rgba(69, 69, 69, 0.517);
    color: rgba(255, 255, 255);
    cursor: pointer;
}

.Main-Menu > body > #Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.443);
    position: relative;
    bottom: 100px;
}

.Main-Menu > body > #Menu > .Menu-option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0px;
    transition: .2s ease-in;
}

.Main-Menu > body > #Menu > .Menu-option:hover {
    transform: scale(1.1);
    transition: .2s ease-in;
    transition-delay: 0.15s;
}

.Main-Menu > body > #Menu > .Menu-option a {
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(255, 217, 0);
    border: 2px solid white;
    border-radius: 2px;
    width: 230px;
    white-space: nowrap;
    text-decoration: none;
    margin: 50px 40px;
    transition: .165s ease-in;
}

.Main-Menu > body > #Menu > .Menu-option a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 149, 255);
    border-color: black;
    transition: .1s ease-in;
}

.Main-Menu > body > #Menu > .Menu-option p {
    font-size: 14px;
    line-height: 22px;
    color: black;
}

.Main-Menu > body > #Menu > #Tutorial {
    position: relative;
    left: 13px;
}

@media only screen and (max-width: 1300px) {
    .Main-Menu {
        background: url("../Images/Backgrounds/pythonnormal2.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 970px) {
    .Main-Menu {
        background: url("../Images/Backgrounds/pythonnormal3.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       
    }
}

@media only screen and (max-width: 800px) {
    .Main-Menu > body > header {
        margin-top: 40px;
    }
    .Main-Menu > body > #Menu > .Menu-option {
        flex-direction: column;
        margin-bottom: 3px;
    }
    .Main-Menu > body > #Menu > .Menu-option p {
        position: relative;
        bottom: 30px;
    }
    .Main-Menu > body > #Menu > #Tutorial {
        left: 0px;
    }
}

@media only screen and (max-width: 470px) {
    .Main-Menu {
        background: url("../Images/Backgrounds/pythonnormal4.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       
    }
    .Main-Menu > body > header > #Greeting-left h1 {
        margin-bottom: 130px;
    }

    .Main-Menu > body > header > #Greeting-right {
        position: relative;
        left: 20px;
    }
}