html {
    font-family: monospace;
    color: white;
}

/* Styling for index.html */
.Index {
    background: url("../Images/Backgrounds/pythonbluebg.png");
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.Index > body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    transition: .1s ease-in;
}

.Index > body > header div {
    background-color: rgba(255, 255, 255, 0.5);
    width: auto;
    height: 2px;
    margin: 0px 100px;
    text-align: center;
}

.Index > body > header figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Index > body > header > figure > a > img {   
    width: 300px;
    border: 5px solid rgb(69, 69, 69);
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    transition: .2s ease-in;   
}

.Index > body > header > figure > a > img:hover {   
    transform: scale(1.05);
    border-color: rgb(53, 121, 255);
    transition: .2s ease-in;  
}

.Index > body > header h1 {
    text-align: center;
    background-color: rgb(255, 217, 0);
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 20px;
}

.Index > body > #Login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    margin: 0px 30px;
    margin-bottom: 60px;
    padding: 40px 100px;
    padding-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    border-radius: 20px;
}

.Index > body > #Login-form h2 {
    color: black;
    text-align: center;
    padding: 10px 100px;
    margin: 0px 15px;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    transition: .2s ease-in;
}

.Index > body > #Login-form h2:hover {   
    transform: scale(1.05);
    border-color: rgb(53, 121, 255);
    transition: .2s ease-in;  
}

.Index > body > #Login-form > form > .Input-box {
    margin-bottom: 4px;
    font-size: 110%;
}

.Index > body > #Login-form > form > .Input-box input {
    width: 300px;
    font-size: 20px;
    outline-color: rgb(0, 57, 230);
}

.Index > body > #Login-form > form > #submit {
    margin-left: 140px;
    border: 2px solid rgb(255, 217, 0);
    background-color: rgb(69, 69, 69);
    color: white;
    padding: 10px 60px;
    font-size: 15px;
    cursor: pointer;
    transition: .2s ease-in;
}

.Index > body > #Login-form > form > #submit:hover {
    transform: scale(1.15);
    border-color: rgb(255, 255, 255);
    transition: .165s ease-in; 
}

.Index > body > p {
    color: white;
    text-align: center;
    margin-bottom: 65px;
}

@media only screen and (max-width: 1300px) {
    .Index {
        background: url("../Images/Backgrounds/pythonbluebg2.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 700px) {
    .Index {
        background: url("../Images/Backgrounds/pythonbluebg3.png");
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;       
    }
    .Index > body > #Login-form { 
        padding-left: 20px;
        padding-right: 20px;
    }
    .Index > body >  #Login-form > form > .Input-box input{
        width: 245px;
    }
}
